table{
    color: white;
    margin: auto;
    border-spacing: 40px;
    text-align: center;
    font-family: 'JetBrains Mono';
}

table .tuples{
    color: rgb(81, 208, 92);
    font-weight:bolder;
}


footer {
    color: aliceblue;
    position: fixed;
    padding: 10px 10px 0px 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
    font-family: 'JetBrains Mono';
    height: 40px;

}